html {
    font-size: 20px;
    font-family: 'Lato';
    background-color: white;
}

.mainImageContainer{
    position: relative;
    width: 100%; /* Set the width of your image container */
    height: auto; /* Set the height of your image container */
    overflow: hidden;
    z-index: 900;
}

.mainImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.4) 50%);
}

.mainImage {
    width: 100%;
    height: 650px; /*change as screen gets smaller*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover; 
    background-size: cover;
}

.mainImageBody {
    position: absolute;
    z-index: 1000; 
    text-align: left;
    color: white; 
    margin-top: 8%; /*change*/
    padding-left: 7%;

    display: flex;
    justify-content: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contactIcons {
    max-width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-top: 0; 
}

.contactIcons a{
    padding-right: 10%;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.certificationContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 100%;
    height: 175px;
    background-color: #1a3349;
}


@media (max-width: 580px){
    .certificationContainer {
        height: 120px;
    }
}

.certificationContainer img {
    width: auto;
    /* max-width: 100%; */
    height: 80%;
    display: block;
    margin: auto;
}


.mainImageBodyTop  {
    font-size: 1.5rem;
    text-decoration: bold;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.mainImageBodyTop p {
    margin-top: 0;
}

.mainImageBodyTop h1 {
    margin-bottom: 0;
    font-size: 4rem;
}



.mainImageBodyBottom  {
    font-size: 1.1rem;
}

.mainImageBodyBottom p {
    margin-bottom: 0px;
    margin-top: 5px;
}

@media (max-width: 800px) {
    .mainImage {
        height: 500px;
    }

    .mainImageBodyTop  p{
        font-size: 1.0rem;
    }

    .mainImageBodyTop h1{
        font-size: 2.8rem;
    }
      
    .mainImageBodyBottom  {
        font-size: 0.9rem;
    }

    .mainImageBodyBottom p{
        margin-top: 0px;
    }
    
    .mainImageBody p{
        margin-bottom: 0px;
        /* margin-top: 10%; */
    }

    .contactIcons a{
        font-size: 20px;
    }
}

@media (max-width: 500px){

    .mainImageBody {
        margin-top: 20%;
    }

    
    .mainImageBodyTop{
        font-size: 0.8rem;
    }

    .mainImageBodyTop  p{
        font-size: 0.7rem;
    }

    .mainImageBodyTop h1{
        font-size: 2rem;
    }

    .callButton p{
        font-size: 0.75rem;
    }
}


.callButton button{
    font-size: 1.0rem;
    font-weight: 500;
    border: 3px solid #F1B145;
    background-color: transparent;
    color: #F1B145;
    padding: 10px 20px;
}

.callButton button:hover{
    transform: translate(10px);
    transition: all ease 0.3s;

    /* background-color: white;
    color: black;
    border: 3px solid white; */
}