* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nav {
  height: 85px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1200;

  display: flex;
  justify-content: space-between;
}

.logo img{
  height: 79px;
  width:auto;
  margin: auto 10px;
  padding-top: 5px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

#active {
  background-color: #9B6C34;
}

#active a {
  color: white;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 30px 15px 33px 15px;
  text-decoration: none;
  color: #9B6C34;
  text-align: center;
}

.nav > .nav-links > a:hover {
  background-color: #9B6C34;
  color: white;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:950px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 55px;
    height: 85px;
    padding: 31px 13px;
  
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.12);
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label  span{
    color: white;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #F1B145;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #EBE8E2;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}